.wp-block-genesis-blocks-gb-column.obx-listen div.wp-block-image {
    max-height: 62px
}
h4.wp-block-heading.has-text-align-left.obx-popular.has-large-font-size {
    margin-top: 0;
    text-align: left;
}