landing***/
/*****top banner****/
#obx-landing-test .container {
    max-width: 1340px;
    margin: auto;
    padding: 0 20px;
}
.top-banner .landing h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: -20px;
    text-transform: uppercase;
}
.two-col.top-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0555/5434/3079/files/Group_2.png?v=1678114843);
    background-repeat: round;
    background-size: cover;
}
.obx-banner-buttons{
  display: flex;
  flex-wrap: wrap;
}
.obx-banner-buttons .left-button, .obx-banner-buttons .right-button {
    box-sizing: border-box;
    margin-right: 30px;
    font-weight: 700;
}
.obx-banner-buttons .left-button a,
.obx-banner-buttons.cta-button a{
    min-width: 225px;
    display: inline-block;
    text-align: center;
    color: white;
    background: #547F52;
    border: 2px solid #547F52;
    margin-top: 30px;
}
.obx-banner-buttons .left-button a:hover,
.obx-banner-buttons.cta-button a:hover{
    background: none;
    color: #547F52;
}
.obx-banner-buttons .right-button a,
.obx-banner-buttons .left-button a {
    text-align: center;
    display:inline-block;
    margin-top: 30px;
}
.obx-banner-buttons .right-button a {
    min-width: 225px;
    color: white;
    border: 2px solid white;
}
.obx-banner-buttons .right-button a:hover {
    background: none;
    color: #547F52;
    border: 2px solid #547F52;
}
.obx-banner-buttons a {
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    transition: 
        background .25s ease,
        border .25s ease,
        color .25s ease;
}
#obx-landing-test .top-banner .content-col {
    max-width: 700px;
}
.two-col.top-banner h2, 
.two-col.top-banner h3, 
.two-col.top-banner p {
    color: white;
}

.two-col.top-banner h3 {
    text-transform:capitalize;
    margin-bottom: 15px;
}
.landing p {
    line-height: 1.8;
    font-size: 18px;
}
.white .flex.landing {
column-gap: 60px;
}
.landing.content-col {
flex-basis: 60%;
}
.landing.img-col {
flex-basis: 40%;
}
.list-container
 {
    display: inline-flex;
    line-height: 1.5;
    font-style: italic;
}
.list-container li::marker {
    color: #547F52;
    font-size: 30px;
}
.list-container ul {
    padding-left: 23px;
  margin: 0;
}
.two-col.green.slim.landing {
  background-color: #547F52;
    box-shadow: none;
    max-width: 1300px;
    padding: 60px;
}
.two-col.green.slim.landing .flex{
    column-gap: 100px;
}
.two-col.slim.landing h2, .two-col.green.slim.landing h2 {
    font-size: 36px;
}
.two-col.slim.landing p, .two-col.green.slim.landing p {
    font-size: 18px;
    line-height: 1.8;
      max-width: 940px;
}
#shopify-section-template--15763463864487__0f4f6fe6-3712-43c9-9c56-12081b0e0fb9 h2{
  text-transform:none;
}
.two-col.green.slim.landing a {
    min-width: 200px;
    background-color: #ffffff;
    color: #547F52;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.two-col.green.slim.landing a:hover {
    min-width: 200px;    
    background-color: #547F52;
    color: #FFFFFF;
    border: 2px solid white;
}
.two-col.slim.landing a {
    min-width: 200px;
    background-color: #547F52;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #547F52;
    transition: 
        background .25s ease,
        border .25s ease,
        color .25s ease;
}
.two-col.slim.landing a:hover {
    background-color: #FFFFFF;
    color: #547F52;
    border: 2px solid #547F52;
}
.landing-products-container {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1300px;
}
.content-wheel.landing .tile-header {
  display: inline-block;
  text-decoration: none;
  color: #547F52;
  font-weight: 700;
  font-size: 24px;
  margin: 20px auto 10px;
}
.content-wheel.landing {
    margin: 0 auto;
    padding: 94px 0;
    background: none;
    background-color: #547F52;
    box-shadow: inset 0px 0px 33px #1B2C1B;    
    color: #FFFFFF;
    text-align: center;
}
.landing .content-wheel-header {
    max-width: 1300px;
    margin: 0 auto;
}
.landing .content-wheel-header h2 {
    font-size: 50px;
      margin: 0 auto 18px;

}
.landing .content-wheel-header p {
    max-width: 1040px;
    margin: 0 auto;
} 
.content-wheel.landing .article {
    margin: 50px 0 0;
    box-shadow: -6px 6px 20px #1D331D;
}
.landing-checkerboard-wrapper {
    background-color: #F6F6F6 ;
    padding: 100px 0;
}
.landing-checkerboard .content-col {
    padding-left: 50px;
}

.landing-checkerboard .content-col:first-child {
    padding-left: 0;
    padding-right: 50px;
}
.landing-checkerboard .content-col, .landing-checkerboard .img-col {
    flex-basis: 50%;
    max-height: 490px;
}
.landing-checkerboard .img-col {
  display: flex;
}
.landing-checkerboard .img-col img {
    object-fit: cover;
    object-position: center;
}
.landing-checkerboard .content-col h2 {
    font-size: 56px;
    color: #547F52;
}
.landing-checkerboard .content-col h2:first-child {
    margin-top: 0;
}
.landing-checkerboard .content-col p:last-child {
    margin-bottom: 0;
}
.two-col.slim.landing {
    background-color: #FFFFFF;
}
.content-wheel.landing .article h4 {
    max-width: 310px;
    size: 24px;
    font-weight: 700;
}
.content-wheel.landing .article p {
    color: #707070;
}

.quote-centered.landing {
    background-color: #FFFFFF;
}
.quote-centered.landing h2 {
    color: #547F52;
}
#obx-landing-test .image-with-text__wrapper 
.btn--secondary.white {
  font-weight: 700;
  border: 2px solid white;
}
#obx-landing-test .image-with-text__wrapper 
.btn--secondary.white:hover{
  color: #547F52;
}
.obx-faq-wrapper {margin: 100px auto 94px;}
.obx-faq-wrapper h2 {margin: 0 auto 30px}

.obx-faq-wrapper .accordion_container {
    width: 100%;
}
.two-col.green.video h2 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 36px;
}
.two-col.contact .flex {
    column-gap: 170px;
}
.form-content, .form-fill{
    flex-basis: 50%;
}
.form-content-wrapper {
    padding: 20% 10% 20% 28%;
}
.form-content h2, .form-content p, .form-content h3 {
    margin-top: 0;
}

.form-content h2 {
    font-size: 36px;
}
.form-content h3 {
    font-size: 24px;
}
.form-content p, .landing-bottom-cta-wrapper {
    line-height: 1.8;
}
#obx-landing-test #hbspt-form-6cbd3fa5-ce74-47bd-83eb-93890c94fa04 label {
    display: none;
}

#obx-landing-test #hbspt-form-6cbd3fa5-ce74-47bd-83eb-93890c94fa04 .hs-richtext.hs-main-font-element {
    display: none;
}
.form-fill-wrapper {
    padding: 60px 15%;
}
.form-fill h3 {
    font-size: 24px;
    color:#547F52
}
.input {
    border-top-style: hidden !important;
}
.form-content {
    background-color: #292929;
    color: #FFFFFF;
}
.contact .flex {
    max-width: 100%;
}
.related-articles {
  max-width: 1300px;
  margin: auto;
  padding: 100px 0;
}
.related-articles .flex {
    column-gap: 40px;
}
.related-articles .article{
    flex-basis: 25%;
  margin-top: 30px;
}
.related-articles .article img {
    width: 100%;
    aspect-ratio: 1.75/1;
    object-fit:cover;
    object-position: center;
  margin-bottom: 20px;
}
.related-articles h2 {
  margin-bottom: 0;
  color: #547F52;
}
.related-articles p {
    font-size: 16px;
}
.related-articles a {
  text-decoration: none;
}
.related-articles img:hover {
  opacity: .9;
}

.related-articles .article-title:hover  {
  color: #547F52;
}
.related-articles .article-title {
  font-weight: 700;
  line-height: 1.25;
  font-size: 18px;
  margin-bottom: 10px;
}
.landing-bottom-cta {
  background-color: #DEDEDE;    
  padding: 100px 0;
}
.landing-bottom-cta-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}
.landing-bottom-cta-wrapper p:last-child {
  margin-bottom: 0;
}
.landing-bottom-cta-wrapper h2 {
    color: #547F52;
}

.landing-bottom-cta-wrapper h2{
    margin: 0 auto;
    max-width: 1000px;
}
.landing-bottom-cta-wrapper .cta-button {
      display: block;

}
.landing-bottom-cta-wrapper .OBX-button a {
    color: #FFFFFF;
    background: #547F52;
    box-sizing:border-box;
}