#obx-landing-template h2 {
    margin-top: 0!important;
}
#obx-landing-template img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.obx-section {
    margin-bottom: 60px;
}
.flex-row {
    display: flex;
    justify-content:space-between
} 
.obx-section.bg-color {
    padding: 24px;
    background: #C9D2F0;
    border-radius: 5px;
}
.img-left {
    padding: 30px 24px;
    font-style: italic;
}
.img-left .flex-img img {
    width: 100%;
}
.img-left .flex-img{
    flex-basis: 160px;
}

.img-left .flex-content {flex-basis: 448px}

.jump-links-box {
    border:1px solid #CCCCCC;
    padding: 30px;
    
}
.jump-links-box strong {
    display: block;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1;
}
ul.jumplinks {
    list-style-position: inside;
    padding-left: 0;
}
ul.jumplinks li {
    margin-bottom: 15px;
    line-height: 1;
}
ul.jumplinks li a {
    margin-left:-10px;
}
ul.jumplinks li::marker{
    font-size: 25px;
    margin: 0;
    color: #666666;
    font-family: 'Tahoma';
}
.bg-color li::marker {
    font-size: 22px;
    font-family: 'Tahoma';
}
.jumplinks.a:hover {
    color: #333333;
}

.obx-section.video h2 {
    margin-bottom: 30px;
}


#obx-landing-template .obx-section.bg-color ul {
    padding-left: 18px;
}
#obx-landing-template .obx-section.bg-color li {
    margin-bottom: 10px;
}

.content-col {
    flex-basis: 48%;
}

.obx-section.split-image {
    margin-bottom: 30px
}

.col.image-col {
    align-self: center;
}

.obx-section.cta {
    background-color: #5472D2;
    text-align: center;
    color: white;
    padding: 30px;
    border-radius: 5px;
}
.obx-section.cta h2{
    color: white;
}
.obx-section.cta .phone {
    display: block;
}
.obx-section.cta .obx-button {
    display: block;
    background:#5FAD00;
    max-width:fit-content;
    margin: 0 auto;
    color: white;
    text-decoration: none; 
    font-family: 'Source Sans Pro';
    padding: 10px 70px 13px;
    border-radius: 5px;
}


.faq-item {
    padding-bottom: 30px;
    border-bottom: 2px solid #cccccc;   
}
.faq-section .faq-item:last-of-type {
    padding-bottom: 60px;
}
.faq-section h3{
    font-size: 22px;
    line-height: 1.25;
    margin: 30px 0 15px;
}
.obx-article {
    margin-bottom: 30px;
}
.obx-article .article-img  {
    flex-basis: 40%;
}

.article-content {
        flex-basis: 56%;
}
.article-content span {
    display: inline-block;
        font-family: 'Source Sans Pro';
}
.article-content .title {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700
    
}

span.date em {
    margin: 10px;
    font-family: 'Serif';
    color:#707070;
    
}

.obx-side-section {
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px #0000001F;
    background: #fff;

}
section#custom_html-2 { padding: 0;}
.obx-side-section {
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px #0000001F;
    background: #fff;
}
.obx-side-section.cta {
    background-repeat:no-repeat;
    background-size: unset;
    background-position: center center;
    color: white;
    padding: 30px 24px;
}
.obx-side-section.procedures {
    padding: 30px;
}
.obx-side-section.procedures li{
    margin-bottom: 15px;
    padding: 0;
}
.obx-side-section.procedures a {
    text-decoration: none;
    color: #333333;
}
.obx-side-section.procedures a:hover {
    text-decoration: underline;
    color: #5FAD00;
}
.obx-side-section hr {
    margin: 0  0 10px
}
.obx-side-section .side-cta-content a,
.obx-side-section .side-cta-content > *  {
    color: white;
}
.obx-side-section.cta .obx-button {
    display: block;
    background: #5fad00;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    padding: 10px 70px 13px;
    border-radius: 5px;
}
.obx-side-section.testimonials {
    box-shadow: none;
}
.obx-side-section.testimonials p{
    margin-bottom: 10px;
}
.obx-side-section h3.widgettitle.widget-title {
    margin-bottom: 5px;
}
@media only screen and (max-width: 1075px) {
    .obx-side-section.cta.lazyloaded {
        display: none;
    }
}
