<div id="obx-landing">
    <div class="obx-wrapper">
        <div class="obx-section">
                <h2>Create Unique, Memorable Moments With Branded Corporate Gifts</h2>
                <p>Finding the perfect employee gifts can be challenging, but Gearheart Industry makes it easy with our custom branding irons. <strong>Our branding irons enable you to create branded corporate gifts that are unique, personal, and sure to leave a lasting impression.</strong> Whether you're looking to show appreciation to your team or design memorable client gifts, you can count on Gearheart Industry. Explore our range of personalized options and discover how you can use our branding irons to fashion custom business gifts that make your brand stand out.</p>
            </div>
        <div class="obx-section banners">
            
                <div class="banner-row">
                    <div class="product-banner">
                        <h2>Custom Branding Irons</h2>
                        <a href="" class="obx-button">Shop Now</a>
                    </div>
                </div>
                <div class="banner-row flex-row">
                    <div class="product-banner">
                        <h2>Branding Iron Design Generator</h2>
                        <a href="" class="obx-button">Shop Now</a>
                    </div>
                    <div class="product-banner">
                        <h2>Drill Press Branding Irons</h2>
                        <a href="" class="obx-button">Shop Now</a>
                    </div>
                </div>
                <div class="banner-row flex-row">
                    <div class="product-banner">
                        <h2>Branding Iron Design Generator</h2>
                        <a href="" class="obx-button">Shop Now</a>
                    </div>
                    <div class="product-banner">
                        <h2>Drill Press Branding Irons</h2>
                        <a href="" class="obx-button">Shop Now</a>
                    </div>
                </div>

        </div>
        <div class="obx-section products">
            <h2>Shop Our Best Sellers</h2>
            <div class="flex-row">
                <div class="prod-card"><img src="" alt=""><span class="product-name"></span><span class="price"></span><a href="" class="obx-button"></a></div>
                <div class="prod-card"><img src="" alt=""><span class="product-name"></span><span class="price"></span><a href="" class="obx-button"></a></div>
                <div class="prod-card"><img src="" alt=""><span class="product-name"></span><span class="price"></span><a href="" class="obx-button"></a></div>
            </div>
        </div>
    </div>
    <div class="obx-section fw" style="
    background: #333333;
">
        <h2>Why Choose Branded Gifts?</h2>
        <p><strong>Branded gifts are an excellent way to show your clients and employees you appreciate them.</strong> Gifts customized with branding irons help create a personal connection and make people feel valued. Giving a branded gift also keeps your company top of mind, which can be great for employee morale and business. </p>
    </div>
    <div class="obx-wrapper">
        <div class="obx-section split-image-row">
            <div class="flex-row">
                <div class="col content">
                    <h2>Why Choose Branded Gifts?</h2>
                    <p><strong>Branded gifts are an excellent way to show your clients and employees you appreciate them.</strong> Gifts customized with branding irons help create a personal connection and make people feel valued. Giving a branded gift also keeps your company top of mind, which can be great for employee morale and business. </p>
                    <p>Gearheart Industry branding irons take this a step further by allowing you to create custom designs that truly reflect your brand. These irons can be used on various materials, making it easy to personalize items like wooden containers, leather goods, corporate gift boxes, and more. With our high-quality branding irons, your gifts will look professional and unique. This makes them more memorable and special, helping to strengthen relationships and boost your brand's image.</p>
                </div>
                <div class="col media">
                    <img src="https://cdn11.bigcommerce.com/s-owhlfkd9he/images/stencil/original/image-manager/fpo-bottom-content-template.png?t=1721675398" alt="">
                </div>
            </div>
        </div>
        <div class="obx-section split-image-row">
            <div class="flex-row">
                <div class="col media">
                    <img src="https://cdn11.bigcommerce.com/s-owhlfkd9he/images/stencil/original/image-manager/fpo-bottom-content-template.png?t=1721675398" alt="">
                </div>
                <div class="col content">
                    <h2>Branded Corporate Gift Ideas for All Occasions</h2>
                    <p>With Gearheart Industry branding irons, there's no end to the branded corporate gift ideas you can develop. From personalized wooden boxes and leather wallets to custom cutting boards and coasters, the possibilities are endless. These unique, handcrafted items are perfect for showing appreciation and making a lasting impression. Besides creating employee appreciation gifts, you can use our custom branding irons to:</p>
                    <ul class="obx-list">
                        <li>Recognize notable achievements</li>
                        <li>Commemorate employee anniversaries</li>
                        <li>Mark corporate milestones</li>
                        <li>Acknowledge important clients</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="obx-section split-image-row">
            <div class="flex-row">
                <div class="col media">
                    <img src="https://cdn11.bigcommerce.com/s-owhlfkd9he/images/stencil/original/image-manager/fpo-bottom-content-template.png?t=1721675398" alt="">
                </div>
                <div class="col content">
                    <h2>Custom Branding Irons: The Right Solution for Your Branded Corporate Gifts</h2>
                    <p><strong>Branded gifts are an excellent way to show your clients and employees you appreciate them.</strong> Gifts customized with branding irons help create a personal connection and make people feel valued. Giving a branded gift also keeps your company top of mind, which can be great for employee morale and business. </p>
                    <p>Gearheart Industry branding irons take this a step further by allowing you to create custom designs that truly reflect your brand. These irons can be used on various materials, making it easy to personalize items like wooden containers, leather goods, corporate gift boxes, and more. With our high-quality branding irons, your gifts will look professional and unique. This makes them more memorable and special, helping to strengthen relationships and boost your brand's image.</p>
                </div>
            </div>
        </div>
        <div class="obx-section testimonial" style="background-color: #FAF8F6;">
            <h2>H2 - Testimonials</h2>
            <div class="flex-row">
                <div class="col test">
                    <p>"The whole process was a breeze, I would highly recommend if you're looking for a custom brand. I wasn't quite sure what size brand to get and whether my design would work as a brand (there were find details in my design) so I sent them an email with a picture of what I had in mind. They replied very quickly (a couple hours) with their thoughts. After I ordered, they sent me a picture of a test of my brand on wood so I could approve or make changes. After I approved, my brand was shipped and got to me very quickly. The brand itself looks fantastic and is very well made (I got the electric with a brass head), I think this thing will last decades. The whole process went smoothly and quickly, and I'm very excited about my brand. Highly recommend!</p>
                    <span class="name">– FIRSTNAME LASTNAME</span>
                </div>
                <div class="col test">
                    <p>"The whole process was a breeze, I would highly recommend if you're looking for a custom brand. I wasn't quite sure what size brand to get and whether my design would work as a brand (there were find details in my design) so I sent them an email with a picture of what I had in mind. They replied very quickly (a couple hours) with their thoughts. After I ordered, they sent me a picture of a test of my brand on wood so I could approve or make changes. After I approved, my brand was shipped and got to me very quickly. The brand itself looks fantastic and is very well made (I got the electric with a brass head), I think this thing will last decades. The whole process went smoothly and quickly, and I'm very excited about my brand. Highly recommend!</p>
                    <span class="name">– FIRSTNAME LASTNAME</span>
                </div>
            </div>
        </div>
        <div class="obx-section split-image-row video">
            <div class="flex-row">
                <div class="col content">
                    <h2>H2 - Video Section</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.</p> 
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
                <div class="col media">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="obx-section fw cta" style="background-image: url(https://cdn11.bigcommerce.com/s-owhlfkd9he/images/stencil/original/image-manager/fpo-cta-bg-img.png?t=1721675402);">
        <div class="cta-content-wrap">
            <h2>Call to Action Lorem Ipsum Dolor Sit Amet - H2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="" class="obx-button">Shop Now</a>
        </div>
    </div>
    <div class="obx-wrapper">
        <div class="obx-section faq">
            
                <h2>H2 - Frequently Asked Questions</h2>
                <p>Business owners and artisans around the world trust custom branding irons from Gearheart Industry. They know we’re a one-stop shop for the tools and knowledge they need. Read on to learn more about branding irons, and visit our FAQ page for additional details.</p>
                <div class="question">
                    <h3>H3 - Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Elit Sed Do Eiusmod?</h3>
                    <p>Facilisis magna etiam tempor orci eu lobortis. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. A erat nam at lectus urna duis convallis convallis. Etiam tempor orci eu lobortis elementum nibh tellus. At in tellus integer feugiat scelerisque varius morbi enim nunc.</p>
                </div>
                <div class="question">
                    <h3>H3 - Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Elit Sed Do Eiusmod?</h3>
                    <p>Facilisis magna etiam tempor orci eu lobortis. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. A erat nam at lectus urna duis convallis convallis. Etiam tempor orci eu lobortis elementum nibh tellus. At in tellus integer feugiat scelerisque varius morbi enim nunc.</p>
                </div>
                <div class="question">
                    <h3>H3 - Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Elit Sed Do Eiusmod?</h3>
                    <p>Facilisis magna etiam tempor orci eu lobortis. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. A erat nam at lectus urna duis convallis convallis. Etiam tempor orci eu lobortis elementum nibh tellus. At in tellus integer feugiat scelerisque varius morbi enim nunc.</p>
                </div>
        </div>
        <div class="obx-section related-articles">
            <h2>Related Articles</h2>
            <p>Looking for more inspiration on branded corporate gifts? Check out our related articles to discover creative ideas and tips. Learn how Gearheart Industry branding irons create memorable and unique gifts.</p>
            <div class="flew-row">
                <div class="article">
                    <img src="" alt="">
                    <span class="title">Your Quintessential Guide To Branding Irons</span>
                    <span class="excerpt">Learn everything that's worth knowing about branding irons.</span>
                </div>
                <div class="article">
                    <img src="" alt="">
                    <span class="title">How to Make a Custom Box</span>
                    <span class="excerpt">See how easy it is to make branded corporate boxes.
                    </span>
                </div>
                <div class="article">
                    <img src="" alt="">
                    <span class="title">How to Use a Flame-Heated Branding Iron</span>
                    <span class="excerpt">Discover the simple steps required to get the most out of your torch-heated branding iron.
                    </span>
                </div>
            </div>
        </div>     
    </div>  
</div>