/* OBX Styles */
.obx-bottom-content {
    .center {
        text-align: center;
    }

    h2 {
        font-size: 34px;
        line-height: 41px;
        color: #000;
        letter-spacing: 1.16px;
        margin: 100px 0 22px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;

        &.underline {
            font-size: 28px;
            line-height: 42px;
            padding: 0 0 15px;
            border-bottom: 2px solid #CC0202;
        }

        &.lines {
            width: 100%;
            text-align: center;
            position: relative;

            .lines-span {
                display: inline-block;
                padding: 0 34px;
                background-color: #E8E8E8;
                position: relative;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: calc(50% - 1px);
                width: 100%;
                height: 2px;
                background-color: #CC0202;
            }
        }
    }

    h3,
    .h3 {
        font-size: 22px;
        line-height: 30px;
        color: #cc0202;
        font-weight: 700;
        margin: 50px 0 22px;
    }

    p,
    ol,
    ul {
        font-size: 18px;
        line-height: 27px;
        margin: 22px 0;
    }

    li {
        font-size: 18px;
        line-height: 27px;
        margin: 0 0 10px;
    }

    h2,
    h3,
    p,
    ul,
    ol,
    li {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .flex-row {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;

        .one-half {
            flex-basis: calc(50% - 20px);
            flex-grow: 0;
            flex-shrink: 0;
        }

        .one-third {
            flex-basis: calc((100% / 3) - 40px);
            flex-grow: 0;
            flex-shrink: 0;
        }

        .two-thirds {
            flex-basis: calc(2 * (100% / 3));
            flex-grow: 0;
            flex-shrink: 0;
        }

        .one-whole {
            flex-basis: 100%;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .one-fourth {
            flex-basis: calc(25% - 20px);
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    @media screen and (max-width: 767px) {
        .flex-row {
            .one-half,
            .one-third,
            .two-thirds,
            .one-fourth {
                &:not(.mobile) {
                    flex-basis: 100%;
                }

                margin-bottom: 40px;
            }
        }
    }

    .bg-box {
        padding: 100px 88px;
        background-position: center;
        background-size: cover;

        h2,
        h3,
        li {
            color: #fff;
        }
    }

    .icon-section {
        padding: 60px 20px;

        .icon-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            img {
                display: block;
                margin: 0 15px 0 0;
            }

            .icon-text {
                display: block;

                .icon-description {
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25px;
                    color: #333;
                }
            }
        }
    }

    .two-up-section {
        padding: 0 0 100px;

        .left-img {
            margin-right: 70px;
        }
    }

    .standard-section {
        padding: 100px 88px;
    }

    .gray-box {
        background: #E8E8E8;
        box-shadow: inset 0px 10px 20px #0000001A;
        padding: 100px 88px;
    }

    .faq-item {
        box-shadow: 0px 2px 10px #00000029;
        border-radius: 5px;
        margin: 0 0 20px;

        .obx-accordion-head {
            margin: 0;
            padding: 30px 70px 30px 30px;
            cursor: pointer;
            position: relative;
        }

        .obx-accordion-head::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.433' height='12' viewBox='0 0 19.433 12'%3E%3Cpath id='arrow-up' d='M22.667,10.283,20.383,8l-9.717,9.717,9.717,9.717,2.283-2.283L15.25,17.717Z' transform='translate(27.433 -10.667) rotate(90)' fill='%23a6a6a6'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 5px;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    
        .obx-accordion-head.active::after {
            transform: translateY(-50%) rotate(180deg);
        }
    
        .accordion-content {
            max-height: 0;
            border-bottom: 1px solid #c6c6c6;
            transition: 0.2s ease-out;
            overflow: hidden;
    
            .answer-wrapper {
                padding: 0 30px 30px;
            }
        }
    }

    .related-articles {
        padding: 100px 0;

        .ra-link {
            display: block;
            font-family: "Bai Jamjuree",sans-serif;
            font-size: 22px;
            line-height: 30px;
            font-weight: 700;
            color: #333;
            text-decoration: none;

            &:hover {
                color: #CC0202;
                text-decoration: underline;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
                aspect-ratio: 16 / 9;
                margin: 0 0 20px;
            }

            .ra-title {
                display: block;
            }
        }
    }

    
}

.obx-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9*/
}

.obx-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.obx-youtube {
    position: relative;
    margin: 0;
}

.obx-youtube:hover {
    cursor: pointer;
}

.obx-youtube:hover .play {
    background: red;
    opacity: 0.9;
}

.obx-youtube .play {
    font-size: 1em;
    transform: translateY(130px);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: #3B3636;
    opacity: 0.75;
    border-radius: 50% / 10%;
    color: #FFFFFF;
    height: 3em;
    padding: 0;
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 4em;
}

.obx-youtube .play::before {
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
}

.obx-youtube .play::after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: ' ';
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
}

.obx-video-wrapper.waiting {
    padding-bottom: 0!important;
}

.obx-youtube.obx-video-wrapper.waiting img {
aspect-ratio: 16 / 9;
object-fit: cover;
width: 100%;
object-position: center;
height: auto;
}

.obx-youtube.obx-video-wrapper.waiting .play {
transform: translateY(-50%);
top: 50%;
}
