#obx-bottom-content .section {
  margin-bottom: 100px;
padding-left: 20px;
padding-right: 20px;
}
#obx-bottom-content .section img {
margin: 0 auto;
}
#obx-bottom-content .top-cta {
  color: white;
  text-shadow: 0px 2px 1px #00000058;
  padding: 160px 0;
  background-size: cover;
  background-position: center center;
      box-shadow: 0px 0px 0px 4000px rgba(50, 50, 50, 0.6) inset; 
}
#obx-bottom-content .top-cta .subheading {
  margin-bottom: 0
}
#obx-bottom-content  .top-cta .container {
  max-width: 50%;
}
#obx-bottom-content .top-cta h2 {
  color: white;
}
#obx-bottom-content a.btn-green {
  color: #000;
  background: #41963F;
  text-transform: uppercase;
  padding: 14px 28px;
  max-width: fit-content;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-bottom: 40px;
  border: 1px solid #41963f;
  cursor: pointer;
}
#obx-bottom-content .top-cta a.btn-green {
  text-shadow: none;
  margin: 0 auto;
}
#obx-bottom-content span.faux-h2{
  margin: 2.2em 0 0.9em;
  font-size:20px;
  letter-spacing: .2em;
    text-transform: uppercase;
}

#obx-bottom-content .flex-row{
  display:flex;
  flex:wrap;
}

#obx-bottom-content .container{
  max-width:1468px;
  margin:0 auto;
}

#obx-bottom-content .center-content .container-alt{
  max-width:887px;
    margin: 0 auto;
}
#obx-bottom-content hr {
    margin: 0 auto 100px;
    color: #EAEAEA;
}
#obx-bottom-content .center-content h2, #obx-bottom-content .center-content h3, #obx-bottom-content .center-content .subheading, #obx-bottom-content .center-content p{
  text-align:center;
}

#obx-bottom-content h2, #obx-bottom-content h3{
  font-size:22px;
  text-transform:uppercase;
  line-height:36px;
  margin-top:0;
}
#obx-bottom-content .subheading{
  font-size:13px;
  text-transform:uppercase;
    margin-bottom: 20px;
}

#obx-bottom-content .fw-grey{
  background:#EAEAEA;
  padding:100px;
}

#obx-bottom-content .two-colsplit {
  /* padding-top:100px; */
  margin-bottom: 100px;
}

#obx-bottom-content .two-colsplit .flex-row{
  column-gap: 112px;
}

#obx-bottom-content .two-colsplit .col{
  flex-basis:50%;
  align-self: center;
}

#obx-bottom-content .two-colsplit .image img{
width:100%;
object-fit: cover;
margin: 0 auto!important;
}  
#obx-bottom-content .two-colsplit .text{
  /* padding-top:60px; */
  align-self: center;
}
#obx-bottom-content .two-colsplit .flex-row h3 {
  font-size: 13px;
  line-height: 1.6;
  margin: 50px 0 20px;
}

#obx-bottom-content .two-colsplit .text a.btn-green {
  width: 140px;
  color: #000;
  background: #41963F;
  text-transform: uppercase;
  padding: 14px 28px;
  max-width: fit-content;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-bottom: 40px;
  border: 1px solid #41963f;
}

#obx-bottom-content  .faq-item{
  border-bottom:1px solid #d1d1d1;
}
#obx-bottom-content .fw-grey .container .faq-item:first-of-type h3 {
border-top: 1px solid #d1d1d1;
padding-top: 30px;
}
#obx-bottom-content .fw-grey .container .faq-item h3{
  font-weight:bold; 
  font-size:18px;
  text-transform:none;
  margin: 20px 0 20px;
}
#obx-bottom-content .fw-grey .container .faq-item p {
margin-bottom: 30px
}


#obx-bottom-content .fw-grey .container {
max-width: 888px;
margin: 0 auto;
}

#obx-bottom-content .fw-grey .faq-item:last-of-type {
border-bottom: none;

}
#obx-bottom-content .fw-grey .faq-item:last-of-type p {
margin-bottom: 0;  
}

#obx-bottom-content .section.content-wheel  {
max-width: 1470px;
margin: 0 auto;

}
#obx-bottom-content .section.content-wheel h2 {
text-align: center;
margin-bottom: 60px;
}
#obx-bottom-content .section.content-wheel .flex-row {
column-gap: 80px
}
#obx-bottom-content .section.content-wheel .article {
width: 33%;
}
#obx-bottom-content .section.content-wheel .flex-row img {
max-height: 250px;
width: 100%;
object-fit: cover;
aspect-ratio: 437 / 250;
margin-bottom: 20px;
}
#obx-bottom-content .section.content-wheel .article span {
display: block;
margin-top: 18px
}
#obx-bottom-content .section.content-wheel .article a {
text-decoration: none;
}
#obx-bottom-content .section.content-wheel .article .title {
text-transform: uppercase;
font-size: 20px;
}

@media only screen and (max-width: 1024px) {
#obx-bottom-content .section .flex-row {
  column-gap: 40px
}
}
@media only screen and (max-width: 767px) {
#obx-bottom-content .section,
#obx-bottom-content hr {
  margin-bottom: 40px;
}
#obx-bottom-content .section .flex-row {
  display: block;
}
#obx-bottom-content .article {
  width: 90%;
  margin: 0 auto 40px;
  border-bottom: 2px solid #b5b5b5;
}
#obx-bottom-content .article .readmore {
  margin-bottom: 10px;
}
}
