/****obx custom css***/
.obx-container {
    margin: 0;
    line-height: 1;
}
.obx-container p {
    margin: 0;
    font-size: 18px;
}
.obx-container h2 {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
}
.obx-container h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
div.flex {
    display: flex;
    max-width: 1440px;
    margin: 0 auto 60px;
}
.obx-faq .section-heading {
    margin-bottom: 20px;
}
.list-container ul {
    list-style-position: outside;
    list-style-type: square;
}
.list-container li {
    list-style-type: square;
    list-style-position: outside;
    margin-left: 20px;
}
.obx-faq .container{
    background-color: #F1F8FE;
    max-width: 100%;        
}
.obx-faq-contact {
    margin: 0 auto;
    max-width: 900px;
}
.obx-faq .container, .content-wheel .container{
    padding: 60px  0;
    text-align: center;
}
.obx-faq-accordion {
    max-width: 1300px;
    margin: 0 auto 36px;
}
.two-col .flex {
    column-gap: 65px;
}
.content-wheel .flex {
    column-gap: 94px
}
.content-col {
    flex-basis: 50%;
}

.img-col {
    flex-basis: 50%;
}
.img-col.lower-row {
    padding-left: 60px;
}
.content-wheel img {
    margin-bottom: 20px;
    object-fit: cover;
    display: flex;
    aspect-ratio: 83\52;
}
.cta {
    background-color: #333333;
}
.cta-content {
    max-width: 1000px;
    margin: 50px auto;
}

/*typography*/
.two-col h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 26px;
}
.two-col p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}
.content-col ul {
    line-height: 1.7;
}
.content-col li {
    list-style-type: square;
}
.content-col li::marker {
    color: #00487F;
    font-size: 1.2rem;
}
.obx-faq .section-heading {
    margin-bottom: 20px;
}
.obx-faq p {
    margin: 0 auto 50px;
    line-height: 1.6;
}
.obx-faq a {
    text-decoration: underline;
}
.obx-faq-contact strong {
    color:#00487F;
}
.content-wheel .section-heading {
    margin-bottom: 50px;
}
.article {
    text-align: left;
    flex-basis: 33%;
}
.article p {
    line-height: 1.5;

}
.article .subheading-blue {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content-wheel h4 {
    margin-bottom: 15px;
}
.cta-content {
    color:#FFFFFF;
    text-align: center;
}
.cta-content h2 {
    font-size: 46px;
    margin-bottom: 20px;
}
.cta-content p {
    line-height: 1.5;
    margin-bottom: 42px;
}
/*color*/

.subheading-blue {
    font-size: 20px;
    color: #00487F;
    font-weight: 600;
    margin-bottom: 20px;
}
.subheading-blue.bold {
    color: #00487F;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.obx-button a {
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    text-decoration: none;
    background: #44A5F5;
    padding: 15px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    min-width: 220px;
    transition: background .2s ease-out;
}
.obx-button a:hover {
    background: rgba(0,72,127,.8);
}


/*Accordion menu*/
.accordion {
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 25px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 900px;
    text-align: left;
    font-size: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
content: "\2212"; /* Unicode character for "minus" sign (-) */
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
.active, .accordion:hover {
background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 30px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #F1F8FE;
    display: none;
    overflow: hidden;
    text-align: left;
}
.panel p {
    font-size: 18px;
    margin-left: 25px;
}
@media only screen and (max-width: 767.9px) {

.obx-container .flex {
    flex-flow:column;
    margin: 20px;
}
.img-col img, .img-col.lower-row img, .content-wheel img {
    width: 100%;
}
.img-col.lower-row {
    padding: 0;
    order: 2;
}

.content-col .obx-button {
    margin-bottom: 40px;
}
.article p {
    margin-bottom: 60px;
}
.cta-content {
    padding: 40px 0;
}
.two-col .lower {
    display: flex;
    flex-flow: column;
}
.img-col.lower-row{
    order: 2;
}
}